h1 {
  font-weight: 400;
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: #088da5;
  background-size: cover;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
img {
  max-width: 450px;
  max-height: 350px;
  float: right;
  border-radius: 100px;
}
#promptparagraph {
  font-size: 14pt;
  font-weight: 600;
}
#nameinput {
  max-width: 25%;
  font-size: 14pt;
}
.form-group {
  margin: 10px;
  max-width: 75%;
}
#button {
  font-size: 14pt;
  margin-bottom: 20px;
  margin-top: 20px;
}
#result {
  margin: 25px;
  line-height: 2;
  font-size: 14pt;
  /*display: none;*/
}
#answer {
  font-weight: bold;
}
